@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 32px;
}

body {
  font-family: "Inter", sans-serif;
  background: url(/images/pattern-curve.svg) no-repeat;
  background-position: left bottom;
  background-size: 80%;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 90rem;
  /* margin: 0 auto; */
  /* min-height: 100%; */
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}

.slider {
  width: 100%;
  max-width: 16rem;

  /* margin: 0 auto 2.34rem; */
  height: inherit; /* inherit the height of the parent*/
  margin: 0 auto;
  padding: 0.78rem;
}

.professional {
  text-align: center;
}

.avatar {
  background: url(/images/pattern-bg.svg) no-repeat center;
  background-size: 100% 100%;
  height: 10.2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.avatar img {
  width: 7.9rem;
  height: 7.9rem;
  /* width: 82%;
  height: 82%; */
  margin: 0 auto;
  /* position: relative; */
  box-shadow: -3px 41px 70px -52px rgba(81, 67, 190, 1);
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffff;
  border-radius: 1rem;
  width: 2.5rem;
  height: 1.2rem;
  top: 9.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.arrows img {
  height: 14px;
  width: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.arrows img:hover {
  color: var(--dark-blue);
  transform: scale(1.5);
}

.review {
  /* font-size: 0.5rem; */
  position: relative;
}

.review img {
  position: absolute;
  width: 1.875rem;
  height: 1.56rem;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

p {
  padding-top: 1.8rem;
  padding-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.6rem;
}

h5 {
  font-size: 0.5rem;
}

.occupation {
  color: var(--grayish-blue);
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* MEDIA QUERIES */
@media screen and (min-width: 450px) {
  .avatar {
    background-size: contain;
  }
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    /* background-size: 40%; */
  }

  .slider {
    max-width: 40.5rem;
  }

  .professional {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .avatar {
    order: 2;
    width: 50%;
    height: 20.6rem;
    /* height: 10.2rem; */
    /* height: 20.6rem; */
    /* background-size: cover; */
    background-size: 100%;
  }

  .avatar img {
    height: 45%;
    width: 75%;
    object-fit: cover;
    /* width: 16.875rem;
    height: 16.875rem; */
  }

  .review {
    width: 50%;
    padding-left: 0.5rem;
    /* padding-top: 2.6rem; */
  }

  p {
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    line-height: 1.3;
    margin-right: -3rem;
    overflow: visible;
  }

  .title {
    display: flex;
  }

  .title h5 {
    font-size: 0.6rem;
    padding-right: 0.3rem;
  }

  .arrows {
    /* left: 11.5rem;
    bottom: 4.5rem;
    top: 19rem; */
    left: 16.5rem;
    bottom: 4.5rem;
    top: 15.1rem;
  }
}

@media screen and (min-width: 992px) {
  .avatar {
    /* height: 20.6rem; */
  }

  .avatar img {
    width: 16.875rem;
    height: 16.875rem;
  }
}
