@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 32px;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 90rem; /*1440px; */
  margin: 0 auto;
}

.inner {
  width: 100%;
  max-width: 42.75rem;
  margin: 0 auto;
  height: inherit; /* inherit the height of the parent*/
  padding: 0.78rem;
}

article {
  text-align: center;
}

.avatar {
  background: url(/images/pattern-bg.svg) no-repeat center;
  background-size: contain;
  height: 10.2rem;
  display: flex;
  align-items: center;
}

.user {
  width: 7.9rem;
  height: 7.9rem;
  margin: 0 auto;
  position: relative;
  box-shadow: -3px 41px 70px -52px rgba(81, 67, 190, 1);
}

.arrows {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #ffff;
  border-radius: 1rem;
  width: 2.5rem;
  height: 1.12rem;
  top: 9.2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.arrows > img {
  height: 14px;
  width: 10px;
}

.review {
  font-size: 0.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
